<mat-nav-list [scrollWindow]="false" infiniteScroll [infiniteScrollThrottle]="1000"  (scrolled)="onChatListScroll()">
    <div class="spinner-wrapper" *ngIf="loadingDiscussions">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <mat-list-item [activated]="activated === d"  (click)="onDiscussionSelect(d)" *ngFor="let d of discussions"> 
        <span matListItemTitle>{{d.item.name}}</span>
        <span matListItemLine>{{d.id_sender == d.item.id_creator ? d.item.creator_username : d.discussion_creator.username}}: {{d.content}}</span>
        <span matListItemLine><small><i>{{d.created_at + 'Z' | date}}</i></small></span>
        <span matListItemMeta *ngIf="userId != d.id_sender">{{(d.is_read === 0) ? 'Not read':'Read'}}</span>
        <mat-icon *ngIf="activated == d" color="primary" matListItemIcon>chat</mat-icon>
    </mat-list-item>
</mat-nav-list>