<mat-nav-list>
    <mat-list-item [activated]="activated === d.id_discussion"  (click)="onDiscussionSelect(d.id_discussion)" *ngFor="let d of discussions"> 
        <img *ngIf="d.item.image" [src]="d.item.image">
        <span matListItemTitle>{{d.item.name}}</span>
        <span matListItemLine>{{d.item.creator_username}}: {{d.content}}</span>
        <span matListItemLine><small><i>{{d.created_at + 'Z' | date}}</i></small></span>
        <span matListItemMeta>{{d.is_read === 0 ? 'Not read':'Read'}}</span>
        <mat-icon *ngIf="activated == d.id_discussion" color="primary" matListItemIcon>chat</mat-icon>
    </mat-list-item>
</mat-nav-list>