<button *ngIf="isLtMd$ | async" (click)="close()" mat-icon-button><mat-icon>close</mat-icon></button>
<form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" formControlName="search" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Order</mat-label>
        <mat-select  formControlName="orderBy">
            <mat-option>None</mat-option>
            <mat-optgroup label="By starting time">
                <mat-option value="newest">Newest</mat-option>
                <mat-option value="oldest">Oldest</mat-option>
            </mat-optgroup>
            <mat-optgroup label="By price">
                <mat-option value="highest">Highest</mat-option>
                <mat-option value="lowest">Lowest</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            <mat-option >None</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="actions-buttons">
        <button type="submit" mat-stroked-button>Filter</button>
        <button type="button" mat-stroked-button (click)="reset()">Reset</button>
    </div>
</form>