<mat-toolbar class="header" color="primary">
    <div>
        <button mat-icon-button *ngIf="isAuthenticated" (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
        <button routerLink="/dashboard" mat-button><h2>Auction Auction</h2></button>
    </div>
    <div class="actions-buttons" *ngIf="isAuthenticated; else noAuthencticated" [matBadgeSize]="'medium'" [matBadgeColor]="'accent'" [matBadgePosition]="'below after'" [matBadge]="newsCount || null">
        <button  (click)="logout()" mat-stroked-button><h4>Log-out</h4></button>
        <button mat-icon-button (click)="toggleRightSidenav()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <ng-template #noAuthencticated>
        <mat-button-toggle-group>
            <mat-button-toggle  routerLink="/home/login">Log-in</mat-button-toggle>
            <mat-button-toggle routerLink="/home/sign-in">Sign-in</mat-button-toggle>
        </mat-button-toggle-group>
    </ng-template>
</mat-toolbar>
