.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}
div{
    height: 100%;
    display: flex;
    align-items: center;
}
.actions-buttons{
    z-index: 11;
    gap: 5px;
}

button{
    font-size: 16px;
}

mat-form-field{
    width: 70%;
}