<div class="container">
    <mat-card class="image-preview" *ngIf="image">
      <button (click)="remove()" class="remove" mat-mini-fab><mat-icon>remove</mat-icon></button>
      <div class="image-wrapper">
        <img [src]="imageSrc"  mat-card-image>
      </div>
      <mat-card-footer>
        <mat-error class="max-size" *ngIf="image && image.size > 2000000">Max. file size: 2MB</mat-error>
      </mat-card-footer>
    </mat-card>
    <mat-form-field color="accent" appearance="outline">
      <textarea cdkTextareaAutosize  [formControl]="messageText" matInput placeholder="New message..."></textarea>
      <input type="file" multiple class="file-input" accept="image/*" (click)="fileUpload.value = ''" (change)="onImageChange($event)" #fileUpload>
      <button matSuffix mat-mini-fab color="primary" class="upload-btn"
        (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button style="margin: 0 5px;" (click)="submit()" mat-icon-button matSuffix><mat-icon>send</mat-icon></button>
      <mat-error *ngIf="messageText.hasError('maxlength')">Max. 300 characters</mat-error>
      <mat-hint><small>Png, jpg or gif files only, max. 2MB</small></mat-hint>
    </mat-form-field>
  </div>