<form class="signup-form" ngForm="signup" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <h2>Login</h2>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput type="text" formControlName="email">
    <mat-error *ngIf="email?.hasError('required')"><small>Field is required</small></mat-error>
    <mat-error *ngIf="email?.hasError('email')"><small>It's not an email</small></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="password?.hasError('required')"><small>Field is required</small></mat-error>
  </mat-form-field>
  <button [disabled]="!loginForm.valid || (attemptsNumber == 0)" mat-stroked-button type="submit">
    <span>Log-in</span>
    <small style="display: block;">{{attemptsNumber > 0 ? ('Attempts number:' + attemptsNumber) : 'Try again after: ' +
      waitToLoginTime}}</small>
  </button>
  <a mat-stroked-button routerLink="/home/reset-password"><small>Don't remember password?</small> </a>
</form>