<mat-drawer-container [style.margin]="bp.isLtMd ? '0 10px' : '10px 50px'" *ngIf="{isLtMd: (isLtMd$ | async)} as bp">
    <mat-drawer #drawer [opened]="!bp.isLtMd" [mode]="bp.isLtMd ? 'over' : 'side'">
        <app-filters-panel (onClose)="drawer.close()" (onFilterProducts)="filter($event)"></app-filters-panel>
    </mat-drawer>
    <mat-drawer-content>
        <button *ngIf="bp.isLtMd" class="filters-button" (click)="drawer.toggle()" mat-icon-button><mat-icon>filter_list</mat-icon></button>
        <div class="container">
            <div class="spinner-wrapper" *ngIf="isLoading">
                <mat-spinner color="accent"></mat-spinner>
            </div>
            <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Created">
                    <ng-container [ngTemplateOutlet]="content"></ng-container>
                </mat-tab>
                <mat-tab  label="Participated">
                    <ng-container [ngTemplateOutlet]="content"></ng-container>
                </mat-tab>
                <mat-tab label="Ended">
                    <ng-container [ngTemplateOutlet]="content"></ng-container>
                </mat-tab>
                <mat-tab  label="Won">
                    <ng-container [ngTemplateOutlet]="content"></ng-container>
                </mat-tab>
            </mat-tab-group>
            <ng-template  #content matTabContent>
                <ng-container *ngIf="products && products.length > 0; else noProducts">
                    <mat-list>
                        <mat-list-item [routerLink]="['../products', p.item.id_item]" class="item" *ngFor="let p of products">
                            <span class="title" matListItemTitle>{{p.item.name}}</span>
                            <span class="category" matListItemLine>{{p.item.category}}</span>
                            <img matListItemAvatar [src]="p.item.image || '../../../assets/noimage.jpg'">
                            <span matListItemLine>{{p.item.description | slice:0:50}}</span>
                            <span matListItemLine>{{p.item.ending_time | timeLeft | async}}</span>
                            <span class="actual-price" matListItemLine>Actual price: {{p.item.max_bid || p.item.starting_price | number:'1.2'}}</span>
                            <ng-container *ngIf="filters.type === 'ended' && p.winner">
                                <span class="winner-title" matListItemLine>Winner</span>
                                <span class="winner" matListItemLine>{{p.winner.username}}</span>
                                <span class="winner-address" matListItemLine>{{p.winner.street}}, {{p.winner.city}} {{p.winner.postcode}}, {{p.winner.province}}, {{p.winner.country}}</span>
                                <span class="contact">Contact: {{p.winner.phone}}</span>
                            </ng-container>
                            <div  matListItemMeta>
                                <a mat-icon-button><mat-icon>arrow_forward</mat-icon></a>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <mat-paginator *ngIf="length > 5" hidePageSize (page)="onPageChange($event)" [pageSize]="5" [length]="length"></mat-paginator>
                </ng-container>
                <ng-template #noProducts>
                    <div class="no-products">
                        <h2>No products found with selected preferences</h2>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </mat-drawer-content>
</mat-drawer-container>