<mat-drawer-container  class="container" *ngIf="isLtMd$ | async as isLtMd"
    [style.margin]="isLtMd.matches ? '0 10px' : '10px 50px'">
    <mat-drawer #drawer class="sidenav" [opened]="!isLtMd.matches" [mode]="isLtMd.matches ? 'over' : 'side'">
        <app-filters-panel [categories]="categories" (onClose)="drawer.close()" (onFilterProducts)="filterProducts($event)"></app-filters-panel>
    </mat-drawer>
    <mat-drawer-content class="content">
        <div class="spinner-wrapper" *ngIf="loading">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <div class="actions-buttons">
            <div>
                <button  mat-icon-button *ngIf="isLtMd.matches" (click)="drawer.toggle()"><mat-icon>filter_list</mat-icon></button>
                <button *ngIf="itemsCount !== 0" (click)="reload()" mat-icon-button><mat-icon>refresh</mat-icon></button>
            </div>
            <button matTooltip="Create new product" *ngIf="isAuthenticated" (click)="createAuction()" mat-icon-button><mat-icon>add</mat-icon></button>
        </div>
        <ng-container *ngIf="itemsCount !== 0; else noItems">
            <app-products-list  [products]="products"></app-products-list>
            <mat-paginator (page)="onPageChange($event)" hidePageSize [length]="itemsCount" [pageSize]="5"></mat-paginator>
        </ng-container>
        <ng-template #noItems>
            <h2>No avaliable auctions to bid!</h2>
        </ng-template>
    </mat-drawer-content>
</mat-drawer-container>
