.container{
    min-height: 100vh;
}
mat-drawer-content{
    position: relative;
}
.spinner-wrapper{
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    mat-spinner{
        margin-top: 50px;
    }
}
.actions-buttons{
    margin: 5px 16px 5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    div{
        display: flex;
        align-items: center;
    }
}
h2{
    text-align: center;
}