.container{
    min-height: 100vh;
}
.spinner-wrapper{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions-buttons{
    margin: 5px 16px 5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    div{
        display: flex;
        align-items: center;
    }
}
h2{
    text-align: center;
}