<mat-sidenav-container  *ngIf="{isLtMd: isLtMd$ | async} as media">
    <mat-sidenav  [mode]="media.isLtMd ? 'over' : 'side'" #sidenav>
        <button (click)="sidenav.close()" mat-icon-button><mat-icon>close</mat-icon></button>
        <mat-nav-list>
            <a (click)="sidenav.close()" *ngFor="let link of links" [routerLink]="[link.path]" mat-list-item [activated]="link.isActive">{{link.name}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [isAuthenticated]="isAuthenticated" (logoutEvent)="logout()" (toggleSidenavMenu)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
