<mat-card>
    <mat-card-header>
        <img mat-card-avatar [src]="userId === chat.id_creator ? user.avatar : creator.avatar">
        <h2 mat-card-title>{{userId === chat.id_creator ? user.username : creator.username}}</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-list appScrollable infiniteScroll [infiniteScrollThrottle]="2000"  [scrollWindow]="false" (scrolledUp)="onScrollUp()">
            <mat-progress-bar  *ngIf="loading " mode="indeterminate" color="accent"></mat-progress-bar>
            <mat-list-item *ngIf="chat.current_page === chat.pages" class="beginning-of-chat">
                <h3  matListItemTitle>Beginning of discussion!</h3>
            </mat-list-item>
            <mat-list-item appOffsetTop  class="message" lines="6" *ngFor="let message of chat.result"
                [style.margin]="message.id_sender === userId ? 'auto 0 5px auto' : 'auto auto 5px 0'"
                [style.borderColor]="message.id_sender === userId ? '#8a89898b' : '#8a898932'"
                >
                <img *ngIf="message.images.length > 0 && message.images[0] != ''" [src]="message.images[0]">
                <h3 matListItemTitle>{{message.id_sender === user.id_user ? user.username : creator.username }}</h3>
                <p>{{message.content}}</p>
                <small class="createdAt">{{message.created_at + 'Z'| date}}</small>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer >
        <app-new-message-input #newMessage></app-new-message-input>
    </mat-card-footer>
</mat-card>