
.preview-image {
  max-width: 10vw;
  padding: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.mat-column-ending_price {
  text-align: center;
}

tr.product-detail-row {
  height: 0;
}

tr.products-element-row:not(.product-expanded-row):hover {
  background: whitesmoke;
}

tr.products-element-row:not(.product-expanded-row):active {
  background: #efefef;
}

.products-element-row td {
  border-bottom-width: 0;
}
.product-details {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  div{
    padding: 10px;

  }
}
.product-actions{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

