<table [dataSource]="productsDataSource" mat-table multiTemplateDataRows>
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
            <div class="preview-image">
                <img [src]="element.image || '../../../assets/noimage.jpg'">
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
    <ng-container matColumnDef="ending_price">
        <th mat-header-cell *matHeaderCellDef>Actual price</th>
        <td mat-cell *matCellDef="let element"> {{element.max_bid|| element.starting_price}} </td>
    </ng-container>
    <ng-container matColumnDef="timeout">
        <th mat-header-cell *matHeaderCellDef>Timeout</th>
        <td mat-cell *matCellDef="let element">{{element.ending_time | timeLeft |async}}</td>
    </ng-container>
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="bid">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-fab aria-label="bid"
                (click)="bid(element.id_item, element.max_bid || element.starting_price); $event.stopPropagation()"><mat-icon>add_shopping_cart</mat-icon></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="product-details" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div>
                    <h4>Description</h4>
                    <p>{{element.description}}</p>
                </div>
                <div class="product-actions">
                    <a mat-stroked-button [routerLink]="['/dashboard/product', element.id_item]">Szczegóły</a>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="products-element-row"
        [class.product-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="product-detail-row"></tr>
</table>