<div class="container" [ngClass]="(mdOrLtMd$ | async) ? 'md-or-lt-md' : 'gt-md'">
    <div class="title">
        <h1>Auction Auction</h1>
        <h3>Buy and sell with this simple app</h3>    
        <div>
            <a (click)="slideToForm()" routerLink="login" mat-raised-button>Login</a>
            <a (click)="slideToForm()" routerLink="sign-up" mat-raised-button>Sign up</a>
        </div>
        <h6>*This is only demonstration app - DON'T USE ACTUAL PERSONAL DATA</h6>
        <a mat-stroked-button href="https://forms.gle/W4TKTCgo5xuFWLmBA">Rate us here</a>
    </div>
    <div #pages class="pages">
        <router-outlet></router-outlet>
    </div>
</div>
